[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
email-validator = "*"
python-decouple = "*"
uvicorn = "*"
fastapi = "*"
redis-om = "*"

[dev-packages]

[requires]
python_version = "3.10"
